.container {
    height: 100vh;
    box-sizing: border-box;
}
header {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    background: #f6f6f6;
}
.header-left {
    display: flex;
    align-items: center;
}
.logo {
    font-size: 20px;
    font-weight: 500;
    margin-right: 100px;
}
nav {
    display: flex;
    gap: 25px;
}
nav a {
    color: #000;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 6px;

    opacity: .8;
}
nav a.active {
    font-weight: 600;
    opacity: 1;
}
nav a img {
    width: 25px;
}
/*.content {*/
/*    flex: 1;*/
/*    height: calc(100vh - 85px);*/
/*    background: #fff;*/
/*    border-top-left-radius: 36px;*/
/*}*/