.expense-card {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #efefef;
    padding: 0 15px;
}
.expense-card:last-child {
    border: none;
}
.expense-card span {
    width: 20%;
    height: 60px;

    display: flex;
    align-items: center;
}